<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <title>Create an event</title>
</head>

<body id="creatEventBody">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <section class="navbar-brand ">
      <a class="navbar-item" href="#">
        <p id='nav-logo'>CafeChats</p>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </section>
  </nav>

  <main>
    <form id="updateEvent" action="/events" method="PUT">
      <fieldset>
        <label class="label" for="firstName">First Name</label>
        <input id="firstName" class="input" type="text" placeholder="First Name" name="firstName">

        <label class="label" for="lastName">Last Name</label>
        <input id="lastName" class="input" type="text" placeholder="Last name" name="lastName">

        <label class="label" for="email">Event Title</label>
        <input id="email" class="input" type="text" placeholder="Email Adress" name="email">

        <input type="date" id="date" name="event-start" value="2020-04-15" min="2020-04-15" max="2025-12-31">

        <label class="label">Event Description</label>
        <section class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </section>
      </fieldset>

      <input class="button is-link is-light" type="submit" value="Submit Event" />
    </form>
  </main>
</body>

</html>