<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body id="homeBody">
  <!-- START NAV -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <section class="container">

      <section class="navbar-brand">
        <a class="navbar-item" href="/">
          <p id='nav-logo'>COMM ON</p>
        </a>
        <a class="navbar-item" href="/createEvent">
          <p id='nav-logo'>Create Event</p>
        </a>
        <span role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </span>
      </section>

      <section id="navbarMenu" class="navbar-menu">
        <section class="navbar-end">
          <a class="navbar-item" href="/home">
            <p id='nav-logo'>Events</p>
          </a>
          <a class="navbar-item" href="/events">
            <p id='nav-logo'>My Events</p>
          </a>
          <a class="navbar-item" href="/">
            <p id='nav-logo'>My RSVPs</p>
          </a>
          <a class="navbar-item" href="/login">
            <p id='nav-logo'>Login</p>
          </a>
          <a class="navbar-item" href="/register">
            <p id='nav-logo'>Sign Up</p>
          </a>
        </section>
      </section>
    </section>
  </nav>
  <!-- END NAV -->

  <section id="eventsSection">

  </section>

  <script src="./javascript/home.js"></script>
</body>

</html>

