<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body id="homeBody">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <section class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <p id='nav-logo'>CafeChats</p>
  
      </a>
      <a class="navbar-item" href="/createEvent">
        <p id='nav-logo'>Create Event</p>
      </a>


      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </section>
  </nav>
  <section id="eventsSection">
    <section class="card">
      <header class="card-header">
        <p class="card-header-title">
          Lunch with the marcy lab fellows.
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <section class="card-content">
        <section class="content">
          We chillin in the lounge
          <a href="/">@Everyone</a>
          <br>
          <time datetime="2016-1-1"></time>
        </section>
      </section>
    </section>
    <footer class="card-footer">
      <a href="#" class="card-footer-item rsvp">RSVP</a>
      <a href="#" class="card-footer-item">View More</a>
    </footer>
  </section>

  <script src="./javascript/home.js"></script>
</body>

</html>
