<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to CoffeeChats</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar">
        <section class="container">
            <section class="navbar-brand">
                <a class="navbar-item" href="/">COMM ON</a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </section>
            <section id="navbarMenu" class="navbar-menu">
                <section class="navbar-end">
                    <a class="navbar-item is-active">
                            Home
                        </a>
                </section>
            </section>
        </section>
    </nav>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
        <section class="hero-body">
            <section class="container has-text-centered">
                <h1 class="title">COMM ON</h1>
            </section>
        </section>
    </section>


    <section class="container">
        <section class="articles">
            <section class="column is-8 is-offset-2">
                <section class="card article">
                    <section class="card-content">
                        <section class="media">
                            <section class="media-content has-text-centered">
                                <p class="title article-title">Introducing a COMM ON, an app to host community events.</p>
                            </section>
                        </section>
                        <section class="content article-body">
                            <p>COMM ON can help you bring a community together host an event where and when ever you'd like. </p>

                            <h3 class="has-text-centered">How can i attend an event?</h3>
                            <p>Browse through our many events and RSVP!</p>
                        </section>
                    </section>
                </section>
        </section>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
</body>

</html>
