<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <title>Create an event</title>
</head>

<body id="creatEventBody">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <section class="navbar-brand ">
      <a class="navbar-item" href="/home">
        <p id='nav-logo'>CafeChats</p>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </section>
  </nav>

  <main>
    <form id="updateEventForm" action="events" method="PUT">
      <fieldset>
        <label class="label" for="title">Event Title</label>
        <input id="title" class="input" type="text" placeholder="Title" name="title">
        <label class="label" for="date">Event Date</label>
        <input type="date" id="date" name="dateCreated" value="2020-04-15" min="2020-04-15" max="2025-12-31">
        
        <label class="label" for="purpose">Purpose of Event</label>
        <section class="control">
          <section id="purpose" name="purpose" class="select">
            <select>
              <option>Art</option>
              <option>Community Service</option>
              <option>Education</option>
              <option>Entertainment</option>
              <option>Food</option>
              <option>Music</option>
              <option>Tech</option>
              <option>Other</option>

            </select>
          </section>
        </section>

        <section class="field">
          <label class="label" for="location">Location</label>
          <section class="control">
            <input id="location" name="location" type="text" placeholder="Location" class="input">
          </section>
        </section>

        <label class="label" for="description">Event Description</label>
        <section class="control">

          <textarea id="description" name="description" class="textarea" placeholder="Describe what the purpose of your event is!"></textarea>
        </section>

        <label class="label" for="type">Event Type</label>
        <section class="control">
          <section id="type" name="type" class="select">
            <select>
              <option>In Person</option>
              <option>Remote/Virtual</option>
            </select>
          </section>
        </section>

      </fieldset>

      <input class="button is-link is-light" type="submit" value="Submit Event" />
    </form>
  </main>
  <script src="javascript/updateEvent.js" charset="utf-8"></script>
</body>

</html>
