/* landing */
#landingBanner {
  background-image: url('/images/common_banner.jpg') !important;
  background-position: center bottom;
  background-color: #d4e2ef;
  background-size: 400px;
  background-repeat: no-repeat;
}

#landingBannerTitle {
  vertical-align: text-top;
  padding-bottom: 100px;
}

/* login and register html */
#loginForm , #registerForm{
  padding-top: 60px;
  align-items: center;
  text-align:center;
}

/* home.html */
#cardsBody {
  width: 400px !important;
}
#eventTitles{
  font-size:25px;
}


/* create event html */
#createEventForm, #updateEventForm{
  align-items: center;
  text-align:center;
  width:200px;
}
