/* landing */
#landingBanner {
  background-image: url('/images/common_banner.jpg') !important;
  background-position: center bottom;
  background-color: #d4e2ef;
  background-size: 400px;
  background-repeat: no-repeat;
}

#landingBannerTitle {
  vertical-align: text-top;
  padding-bottom: 100px;
}

/* login and register html */
form{
  padding-top: 60px;
  align-items: center;
  text-align:center;
}

/* home.html */
#cardsBody {
  /* padding: 50px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* max-width: 400px; */
  width: 400px !important;
}


/* create event html */
#creatEventBody {
  padding: 20px;
}
