/* login and register html */
form .field {
	max-width: 800px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
/* create event html */
#creatEventBody {
  padding: 20px;
}

/* home.html */
#homeBody {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
    max-width: 60%;
}
.rsvp {
    /* background-color: #42cfb0; */
}
